logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
server/uploads/*
*.db
.env

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/.env
server/.env.development
server/.env.production
server/hotel_dev.db
server/hotel.db
server/uploads*/
venv